<h1>Goodbye!</h1>
<h2>We enjoyed having you here, please come again.</h2>
<p>
    You logged off at: <%= @time %>.
    If you would like to return, click 
    <%= link_to "Here", say_hello_path %>!
</p>
