<h1><strong>Welcome to your Application</strong></h1>
<h2>Powered by Ruby on Rails v6</h2>

<p>
    You last visited us on: <%= @time %>
    If you would like to leave, click 
    <%= link_to "Here", say_goodbye_path %>!
</p>